doctype html
html
    head
        title Team Manager
        body

            table
            tr
            thead name
each Personobj in name
            tbody
                p #{Personobj.title}
